<!doctype html>

<title>Modelowanie biznesowe - lab 3 i 4</title>
<h2>Enter column index containing CaseID, Activity and Timestamp</h2>
<p>Starting with 0...</p>


<form method="post" action="/config" enctype="multipart/form-data">
  <label for="caseId">Case ID:</label>
  <input type="text" id="caseId" name="caseId"><br><br>
  
  <label for="activity">Activity:</label>
  <input type="text" id="activity" name="activity"><br><br>
  
  <label for="timestamp">Timestamp:</label>
  <input type="text" id="timestamp" name="timestamp"><br><br>
  
  <input type="submit" value="Submit">
</form>