<!doctype html>

<style>
  
.rangeslider{
    width: 50%;
}
  
.myslider {
    -webkit-appearance: none;
    background: #FCF3CF  ;
    width: 50%;
    height: 20px;
    opacity: 2;
   }
  
  
.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
}
  
  
.myslider:hover {
    opacity: 1;
}
  
</style>

<title>Modelowanie biznesowe - lab 3 i 4</title>
<h2>BPMN Model Generator</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
    <form method="post" action="/filtered" enctype="multipart/form-data">
        <div class="lowerslider">
          <p>Succession count lowerbound (0 means it is inactive):</p>
          <input type="range" min="0" max="{{ maxSlider }}" value="{{ sliderValue }}"
                          class="myslider" id="sliderLower" name="lowerFilter">
          <p>Value: <span id="slider1"></span></p>
        </div>
        <div class="upperslider">
          <p>Succession count upperbound (0 means it is inactive):</p>
          <input type="range" min="0" max="{{ maxSlider }}" value="{{ sliderValue2 }}"
                          class="myslider" id="sliderUpper" name="upperFilter">
          <p>Value: <span id="slider2"></span></p>
          <input type="submit" value="Filter">
        </div>
    </form>
	<div>
		<img src="{{ filename }}">
	</div>
	
	<script>
    var rangeslider1 = document.getElementById("sliderLower");
    var output1 = document.getElementById("slider1");
    output1.innerHTML = rangeslider1.value;
      
    rangeslider1.oninput = function() {
      output1.innerHTML = this.value;
    }
    </script>
    
    <script>
    var rangeslider2 = document.getElementById("sliderUpper");
    var output2 = document.getElementById("slider2");
    output2.innerHTML = rangeslider2.value;
      
    rangeslider2.oninput = function() {
      output2.innerHTML = this.value;
    }
    </script>
	
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>